.card-button {
    background-color: #d7dde2;
    border: 1px solid black;
    color: rgb(98, 95, 95);
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    /* margin: 4px 2px; */
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.card-button:hover {
    background-color: #b0c4de;
    color: white;
}

